{% extends 'base_new.html' %}

{% block content %}
    <h1>{% block title %} Alkaloid {% endblock %}</h1>
    <p><a href="{{ url_for('diplomky') }}">Zpět na výpis diplomek</a></p>
    <table rules="all" border="5">
        <tr align="center" style="font-weight: bold; vertical-align: top"><td>Látka</td><td> Celkové množství [mg] </td>
            <td> AChE IC<sub>50</sub> [μM] </td><td> BuChE IC<sub>50</sub> [μM] </td>
            <td> Optická otáčivost </td><td> Diplomky </td><td> Rostlina </td>
        </tr>
        {% for vlastnost in alkaloid %} <!-- 1=nazev, 2=mnozstvi, 3= ache, 4=buche, 5=opticka otacivost, 6=diplomky, 7=rosltina-->
        <tr align="center" style="vertical-align: top"><td> {{ vlastnost[1] }} </td><td> {{ vlastnost[2] }} </td><td> {{ vlastnost[3] }} </td><td> {{ vlastnost[4] }} </td>
            <td>
                {% for udaj in vlastnost[5] %}
                    {{ "".join(udaj) }}<br>
                {% endfor %}
            </td>
            <td>
                {% for udaj in vlastnost[6] %}
                    {{ "".join(udaj) }}<br>
                {% endfor %}
            </td>
            <td><em> {{ vlastnost[7] }} </em></td>
        </tr>
        {% endfor %}
    </table>


{% endblock %}