{% extends 'base_new.html' %}

{% block content %}
    <h1>{% block title %} Alkaloid {% endblock %}</h1>
    <p><a href="{{ url_for('diplomky') }}" class="btn btn-primary">Zpět na výpis diplomek</a></p>
    <table class="table table-bordered table-striped">
        <thead class="thead-light">
            <tr>
                <th>Látka</th>
                <th>Celkové množství [mg]</th>
                <th>AChE IC<sub>50</sub> [μM]</th>
                <th>BuChE IC<sub>50</sub> [μM]</th>
                <th>Optická otáčivost</th>
                <th>Diplomky</th>
                <th>Rostlina</th>
            </tr>
        </thead>
        <tbody>
            {% for vlastnost in alkaloid %}
                <tr>
                    <td>{{ vlastnost[1] }}</td>
                    <td>{{ vlastnost[2] }}</td>
                    <td>{{ vlastnost[3] }}</td>
                    <td>{{ vlastnost[4] }}</td>
                    <td>
                        {% for udaj in vlastnost[5] %}
                            {{ "".join(udaj) }}<br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for udaj in vlastnost[6] %}
                            {{ "".join(udaj) }}<br>
                        {% endfor %}
                    </td>
                    <td><em>{{ vlastnost[7] }}</em></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}