{% extends 'base_new.html' %}

{% block content %}
    <h1>{% block title %} <a href="{{ url_for('diplomky') }}">Diplomky</a> | Alkaloidy {% endblock %} </h1>
<!--<form action="{{ url_for('find_alkaloid') }}" method="POST">
    <input type="text" name="hledej_alk"> <input type="submit" value="Hledej alkaloid" class="btn btn-secondary"></form>-->

    <p class="text-danger"><strong>Databáze není kompletní a je zatím pouze v rozpracované verzi!</strong></p>
    <table class="table table-bordered table-striped" id="alkaloidyTable">
        <thead class="thead-light">
            <tr>
                <th>Látka</th>

                <th>AChE IC<sub>50</sub> [μM]</th>
                <th>BuChE IC<sub>50</sub> [μM]</th>
                <th>POP IC<sub>50</sub> [μM]</th>
                <th>GSK-3β IC<sub>50</sub> [μM]</th>
                <th>Optická otáčivost</th>
                <th>Diplomky</th>
                <th>Rostlina</th>
            </tr>
        </thead>
        <tbody>
            {% for alkaloid in alkaloidy %}
                <tr>
                    <td>{{ alkaloid[1] }}</td>

                    <td>{{ alkaloid[3] }}</td>
                    <td>{{ alkaloid[4] }}</td>
                    <td>{{ alkaloid[8] }}</td>
                    <td>{{ alkaloid[9] }}</td>
                    <td>
                        {% for udaj in alkaloid[5] %}
                            {{ "".join(udaj) }}<br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for udaj in alkaloid[6] %}
                            {{ "".join(udaj) }}<br>
                        {% endfor %}
                    </td>
                    <td><em>{{ alkaloid[7] }}</em></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<script>
$(document).ready( function () {
    $('#alkaloidyTable').DataTable({
        "language": {
            "search": "Hledej:",
            "lengthMenu": "Zobraz _MENU_ záznamů na stránku",
            "zeroRecords": "Nenalezeny žádné záznamy",
            "info": "Zobrazena stránka _PAGE_ z _PAGES_",
            "infoEmpty": "Žádné záznamy k dispozici",
            "infoFiltered": "(vyfiltrované z celkem _MAX_ záznamů)",
            "paginate": {
                "first": "První",
                "last": "Poslední",
                "next":       "Další",
                "previous":   "Předchozí"
            },
        },
        "pageLength": 50,
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Vše"]],
    });
} );
</script>

{% endblock %}