{% extends 'base_new.html' %}

{% block content %}
    {% block title %}
        {% if not alkaloid: %}
            <h1> <strong>Alkaloid "{{ hledany_alk }}" není v databázi!</strong> </h1>
        {% else: %}
            <h1> {{ alkaloid[0][1] }} </h1>
        {% endif %}
    {% endblock %}
    <p><a href="javascript:history.back()" class="btn btn-primary">Jít zpět</a></p>
    <table class="table table-bordered table-striped">
        <thead class="thead-light">
            <tr>
                <th>Látka</th>

                <th>AChE IC<sub>50</sub> [μM]</th>
                <th>BuChE IC<sub>50</sub> [μM]</th>
                <th>POP IC<sub>50</sub> [μM]</th>
                <th>GSK-3β IC<sub>50</sub> [μM]</th>
                <th>Optická otáčivost</th>
                <th>Diplomky</th>
                <th>Rostlina</th>
            </tr>
        </thead>
        <tbody>
            {% for vlastnost in alkaloid %}
                <tr>
                    <td>{{ vlastnost[1] }}</td>

                    <td>{{ vlastnost[3] }}</td>
                    <td>{{ vlastnost[4] }}</td>
                    <td>{{ vlastnost[8] }}</td>
                    <td>{{ vlastnost[9] }}</td>
                    <td>
                        {% for udaj in vlastnost[5] %}
                            {{ "".join(udaj) }}<br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for udaj in vlastnost[6] %}
                            {{ "".join(udaj) }}<br>
                        {% endfor %}
                    </td>
                    <td><em>{{ vlastnost[7] }}</em></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}