{% extends 'base_new.html' %}

{% block content %}
    <h1>{% block title %} Diplomky | <a href="{{ url_for('alkaloidy') }}">Alkaloidy</a> {% endblock %}</h1>
<!--<form action="{{ url_for('find_alkaloid') }}" method="POST">
    <input type="text" name="hledej_alk"> <input type="submit" value="Hledej alkaloid" class="btn btn-secondary"></form>-->

    <p class="text-danger"><strong>Databáze není kompletní a je zatím pouze v rozpracované verzi!</strong></p>
    <table class="table table-bordered table-striped" id="diplomkyTable">
        <thead class="thead-light">
            <tr>
                <th>Jméno</th>
                <th>Rok obhajoby</th>
                <th>Druh rostliny</th>
                <th>Izolované alkaloidy</th>
                <th>Školitel</th>
            </tr>
        </thead>
        <tbody>
            {% for diplomka in seznam_diplomek %}
                {% set str="" %}
                <tr>
                    <td><a href="{{ diplomka[7] }}">{{ diplomka[1] }}</a></td>
                    <td>{{ diplomka[2] }}</td>
                    <td><em>{{ diplomka[3] }}</em></td>
                    <td>
                        {% for latka in diplomka[6] %}
                            <a href="{{ url_for('alkaloid', alk=str.join(latka)) }}">{{ latka }}</a><br>
                        {% endfor %}
                    </td>
                    <td>{{ diplomka[8] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

<script>
$(document).ready( function () {
    $('#diplomkyTable').DataTable();
} );
</script>

{% endblock %}