{% extends 'base_new.html' %}

{% block content %}
    <h1>{% block title %} Macroscopic part of credit exam from Farmacognosy {% endblock %}</h1>

    <div style="padding-left: 60px; padding-right: 60px;">
        <p><strong>! DISCLAIMER !</strong><span style="float: right;"><img src="static/images/czech-16.png" height="13" width="19" alt="czech flag"> <a href="{{ url_for('makro_gnozka') }}">Czech</a></span></p>
        <p style="text-align: justify; text-justify: inter-word;">This is unofficial material that serves only as a learning
            aid and in no way replaces the recommended study resources. None of the members of the KFGFB department guarantee
            the correctness and accuracy of this material. For the most current announcements and lists, please follow the
            section <a href="https://intranet.faf.cuni.cz/Study-materials/KFGFB/" target="_blank"> of study materials on the Faculty website.</a>
            This practice test is based on <a href="static/seznam_drog.pdf" target="_blank">this list</a>, which should be
            current even for the year 2023.
        </p>
        <p id='cisloOtazky' style="font-weight: bold;">Drug No. 1</p>
        <div class="img-container">
        <img src="" id="obr1" alt="first drug image">
        <img src="" id="obr2" alt="second drug image">>
        <img src="" id="obr3" alt="third drug image">>
        </div>

        <br>

        <p id="vypisBodu" style="font-weight: bold">Points: 0/30</p>
        Drug name: <input type="text" id="odpoved_1" name="odpoved_1"> <span id="result1"></span> <br><br>
        Mother plant:  <input type="text" id="odpoved_2" name="odpoved_2" style="font-style: italic;"> <span id="result2"></span> <br><br>
        Family: <input type="text" id="odpoved_3" name="odpoved_3"> <span id="result3"></span> <br><br>
        <input type="button" style="cursor: pointer;" onclick="zkontrolujOdpoved()" value="Check" id="kontrolBtn">
        <input type="button" style="cursor: pointer; display: none;" onclick="window.location.reload()" value="New test" id="novyTestBtn">

    </div>
<script type="text/javascript">
    var imgVelikost = 350;
    var poradi = 0;
    var body = 0;
    var vybraneRostliny = {{ vyber | tojson | safe }};
    var cestyObr = {{ paths | tojson | safe }};

    function zkontrolujOdpoved() {
        if (document.getElementById('kontrolBtn').value == "Next") {
            poradi++;
            document.getElementById('cisloOtazky').innerHTML = "Drug No. " + (poradi+1);
            document.getElementById('obr1').src = cestyObr[poradi][0];
            document.getElementById('obr2').src = cestyObr[poradi][1];
            document.getElementById('obr3').src = cestyObr[poradi][2];
            document.getElementById('result1').innerHTML = "";
            document.getElementById('result2').innerHTML = "";
            document.getElementById('result3').innerHTML = "";
            document.getElementById('odpoved_1').value = "";
            document.getElementById('odpoved_2').value = "";
            document.getElementById('odpoved_3').value = "";
            document.getElementById('kontrolBtn').value = "Check";
        } else {
            let odpoved_1 = document.getElementById('odpoved_1').value.trim().toLowerCase();
            let droga_spravne = vybraneRostliny[poradi][1].trim();

            if (odpoved_1 == droga_spravne.toLowerCase()) {
                document.getElementById('result1').innerHTML = "Correct!";
                body = body + 1;
            } else {
                document.getElementById('result1').innerHTML = "Wrong, it is: " + droga_spravne;
            }

            let odpoved_2 = document.getElementById('odpoved_2').value.trim().toLowerCase();
            let odpv_split, odpvRod, odpvDruh;
            if (odpoved_2) {
                odpv_split = odpoved_2.split(" ");
                odpvRod = odpv_split[0];
                odpvDruh = odpv_split[1];
            } else {
                odpvRod = "";
                odpvDruh = "";
            }
            let rostlina_spravne = vybraneRostliny[poradi][2].trim();
            let poleSpravnychDruhu = [];
            let poleSpravnychRodu = [];
            let spravneRod = "";
            let spravneDruh = "";
            if (rostlina_spravne.includes(",")) {
                let poleSpravnychRostlin = rostlina_spravne.toLowerCase().split(", ");
                poleSpravnychRodu = poleSpravnychRostlin.map(function(celyNazev) {
                    var poleNazev = celyNazev.split(" ");
                    return poleNazev[0];
                });
                poleSpravnychDruhu = poleSpravnychRostlin.map(function(celyNazev) {
                    let poleNazev = celyNazev.split(" ");
                    return poleNazev[1];
                });
                rostlina_spravne = rostlina_spravne.replace(/,/g, ", </em>or<em>");
            } else {
                let spravne_split = rostlina_spravne.toLowerCase().split(" ");
                spravneRod = spravne_split[0];
                spravneDruh = spravne_split[1];
            }
            if (odpvRod === "" && odpvDruh === "") {
                document.getElementById('result2').innerHTML = "Wrong, it is: <em>" + rostlina_spravne;
            } else if ((odpvRod == spravneRod && odpvDruh == spravneDruh) || (poleSpravnychRodu.some(rod => odpvRod.includes(rod)) && poleSpravnychDruhu.some(druh => odpvDruh.includes(druh)) ) )  {
                document.getElementById('result2').innerHTML = "Correct!";
                body++;
            } else if ((odpvRod == spravneRod && odpvDruh != spravneDruh) || (poleSpravnychRodu.some(rod => odpvRod.includes(rod)) && !poleSpravnychDruhu.some(druh => odpvDruh.includes(druh)) ) )  {
                document.getElementById('result2').innerHTML = "Wrong species name, it is: <em>" + rostlina_spravne;
                body = body + 0.5;
            } else if ((odpvRod != spravneRod && odpvDruh == spravneDruh) || (!poleSpravnychRodu.some(rod => odpvRod.includes(rod)) && poleSpravnychDruhu.some(druh => odpvDruh.includes(druh)) ) )  {
                document.getElementById('result2').innerHTML = "Wrong genus name, it is: <em>" + rostlina_spravne;
                body = body + 0.5;
            } else {
                document.getElementById('result2').innerHTML = "Wrong, it is: <em>" + rostlina_spravne;
            }
            let odpoved_3 = document.getElementById('odpoved_3').value;
            let latinsky_celed_spravne = vybraneRostliny[poradi][3].trim();
            if (odpoved_3.trim().toLowerCase() == latinsky_celed_spravne.toLowerCase()) {
                document.getElementById('result3').innerHTML = "Correct!";
                body = body + 1;
            } else {
                document.getElementById('result3').innerHTML = "Wrong, it is: " + latinsky_celed_spravne;
            }

            document.getElementById('vypisBodu').innerHTML = "Points: " + body + "/30";
            if (poradi == 9) {
                document.getElementById('kontrolBtn').value = "End of test";
                document.getElementById('kontrolBtn').disabled = true;
                document.getElementById('novyTestBtn').style.display = "inline";
                if (body >= 21) {
                    document.getElementById('vypisBodu').innerHTML = "Points: " + body + "/30 - Minimal threshold for success 70 % accomplished, congratulutions!";
                } else {
                    document.getElementById('vypisBodu').innerHTML = "Points: " + body + "/30 - Insufficient points for the minimal threshold of 70 % for passing the test!";
                }

            } else {
                document.getElementById('kontrolBtn').value = "Next";
            }
        }
    }

    window.addEventListener('beforeunload', function (e) {
        // zpráva, která se zobrazí v dialogovém okně prohlížeče
        var message = 'Pokud opustíte tuto stránku, ztratíte svůj progres.';
        e.preventDefault(); // zruší událost
        e.returnValue = message; // Chrome, IE
        return message; // Gecko, WebKit, Safari
    });

    document.getElementById('obr1').src = cestyObr[poradi][0];
    document.getElementById('obr2').src = cestyObr[poradi][1];
    document.getElementById('obr3').src = cestyObr[poradi][2];
</script>

{% endblock %}