{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Cvičný test z makroskopické části poznávací zkoušky z Farmakognozie {% endblock %}</h1>

    <div style="padding-left: 60px; padding-right: 60px;">
        <p><strong>! UPOZORNĚNÍ !</strong><span style="float: right;"><img src="static/images/uk-16.png" height="13" width="19"> <a href="{{ url_for('macro_gnosy') }}">English</a></span></p>
        <p style="text-align: justify; text-justify: inter-word;">Jedná se o neoficiální materiál, který slouží pouze jako učební pomůcka a v žádném případě nenahrazuje
        doporučené studijní zdroje. Žádný z členů katedry KFGFB neručí za správnost a aktuálnost tohoto materiálu. Pro
            nejaktuálnější vyhlášky a seznamy prosím sledujte sekci <a href="https://intranet.faf.cuni.cz/Studijni-materialy/KFGFB/"
            target="_blank"> studijních materiálů katedry na webu FAF</a>. Tento cvičný test vychází z <a href="static/seznam_drog.pdf"
            target="_blank">tohoto seznamu</a>, jež by měl být aktuální i pro rok 2023.
        </p>
        <p id='cisloOtazky' style="font-weight: bold;">Droga č. 1</p>
        <div class="img-container">
        <img src="" id="obr1">
        <img src="" id="obr2">
        <img src="" id="obr3">
        </div>

        <br>
       <!-- <input type="button" style="cursor: pointer;" value="Zvětšit" onclick="zvetsitIMG()">
        <input type="button" style="cursor: pointer;" value="Zmenšit" onclick="zmensitIMG()"> -->

        <p id="vypisBodu" style="font-weight: bold">Body: 0/30</p>
        Droga latinsky: <input type="text" id="odpoved_1" name="odpoved_1"> <span id="result1"></span> <br><br>
        Matečná rostlina latisnky:  <input type="text" id="odpoved_2" name="odpoved_2" style="font-style: italic;"> <span id="result2"></span> <br><br>
        Čeleď latinsky: <input type="text" id="odpoved_3" name="odpoved_3"> <span id="result3"></span> <br><br>
        <input type="button" style="cursor: pointer;" onclick="zkontrolujOdpoved()" value="Zkontrolovat" id="kontrolBtn">
        <input type="button" style="cursor: pointer; display: none;" onclick="window.location.reload()" value="Nový test" id="novyTestBtn">

    </div>
<script type="text/javascript">
    var imgVelikost = 350;
    var poradi = 0;
    var body = 0;
    var vybraneRostliny = {{ vyber | tojson | safe }};
    var cestyObr = {{ paths | tojson | safe }};

    function zvetsitIMG() {
        imgVelikost = String(imgVelikost*1.2);
        document.getElementById('obr1').style.height = imgVelikost + 'px';
        document.getElementById('obr2').style.height = imgVelikost + 'px';
        document.getElementById('obr3').style.height = imgVelikost + 'px';
    }
    function zmensitIMG() {
        imgVelikost = String(imgVelikost/1.2);
        document.getElementById('obr1').style.height = imgVelikost + 'px';
        document.getElementById('obr2').style.height = imgVelikost + 'px';
        document.getElementById('obr3').style.height = imgVelikost + 'px';
    }
    function zkontrolujOdpoved() {
        if (document.getElementById('kontrolBtn').value == "Další") {
            poradi++;
            document.getElementById('cisloOtazky').innerHTML = "Otázka č. " + (poradi+1);
            document.getElementById('obr1').src = cestyObr[poradi][0];
            document.getElementById('obr2').src = cestyObr[poradi][1];
            document.getElementById('obr3').src = cestyObr[poradi][2];
            document.getElementById('result1').innerHTML = "";
            document.getElementById('result2').innerHTML = "";
            document.getElementById('result3').innerHTML = "";
            document.getElementById('odpoved_1').value = "";
            document.getElementById('odpoved_2').value = "";
            document.getElementById('odpoved_3').value = "";
            document.getElementById('kontrolBtn').value = "Zkontrolovat";
        } else {
            let odpoved_1 = document.getElementById('odpoved_1').value.trim().toLowerCase();
            let droga_spravne = vybraneRostliny[poradi][1].trim();

            if (odpoved_1 == droga_spravne.toLowerCase()) {
                document.getElementById('result1').innerHTML = "Správně!";
                body = body + 1;
            } else {
                document.getElementById('result1').innerHTML = "Špatně, správně to má být: " + droga_spravne;
            }

            let odpoved_2 = document.getElementById('odpoved_2').value.trim().toLowerCase();
            let odpv_split = odpoved_2.split(" ");
            let odpvRod = odpv_split[0];
            let odpvDruh = odpv_split[1];
            let rostlina_spravne = vybraneRostliny[poradi][2].trim();
            let spravne_split = rostlina_spravne.toLowerCase().split(" ");
            var spravneRod = spravne_split[0];
            var spravneDruh = spravne_split[1];
            if (odpvRod == spravneRod && odpvDruh == spravneDruh) {
                document.getElementById('result2').innerHTML = "Správně!";
                body++;
            } else if (odpvRod == spravneRod && odpvDruh != spravneDruh) {
                document.getElementById('result2').innerHTML = "Špatný druhový název, správně to má být: <em>" + rostlina_spravne;
                body = body + 0.5;
            } else if (odpvRod != spravneRod && odpvDruh == spravneDruh) {
                document.getElementById('result2').innerHTML = "Špatný rodový název, správně to má být: <em>" + rostlina_spravne;
                body = body + 0.5;
            } else {
                document.getElementById('result2').innerHTML = "Špatně, správně to má být: <em>" + rostlina_spravne;
            }
            let odpoved_3 = document.getElementById('odpoved_3').value;
            let latinsky_celed_spravne = vybraneRostliny[poradi][3].trim();
            if (odpoved_3.trim().toLowerCase() == latinsky_celed_spravne.toLowerCase()) {
                document.getElementById('result3').innerHTML = "Správně!";
                body = body + 1;
            } else {
                document.getElementById('result3').innerHTML = "Špatně, správně to má být: " + latinsky_celed_spravne;
            }

            document.getElementById('vypisBodu').innerHTML = "Body: " + body + "/30";
            if (poradi == 9) {
                document.getElementById('kontrolBtn').value = "Konec testu";
                document.getElementById('kontrolBtn').disabled = true;
                document.getElementById('novyTestBtn').style.display = "inline";
                if (body >= 21) {
                    document.getElementById('vypisBodu').innerHTML = "Body: " + body + "/30 - Minimální hranice úspěšnosti 70% splněna, gratuluji!";
                } else {
                    document.getElementById('vypisBodu').innerHTML = "Body: " + body + "/30 - Nedostatečné body pro splnění minimální hranice úspěšnosti 70 %, je potřeba se to ještě naučit!";
                }

            } else {
                document.getElementById('kontrolBtn').value = "Další";
            }
        }
    }

    window.addEventListener('beforeunload', function (e) {
        // zpráva, která se zobrazí v dialogovém okně prohlížeče
        var message = 'Pokud opustíte tuto stránku, ztratíte svůj progres.';
        e.preventDefault(); // zruší událost
        e.returnValue = message; // Chrome, IE
        return message; // Gecko, WebKit, Safari
    });

    document.getElementById('obr1').src = cestyObr[poradi][0];
    document.getElementById('obr2').src = cestyObr[poradi][1];
    document.getElementById('obr3').src = cestyObr[poradi][2];
</script>

{% endblock %}