{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Výpočet optické otáčivosti {% endblock %}</h1>
    <p><a href="{{ url_for('kfgfb') }}">Zpět na úvodní stránku</a></p>
<div style="padding-left: 80px">
    <form id="myForm">
      Koncentrace [g/100 ml]: <input type="number" id="conc" name="conc"><br>
      1. měření: <input type="number" id="val1" name="val1"><br>
      2. měření: <input type="number" id="val2" name="val2"><br>
      3. měření: <input type="number" id="val3" name="val3"><br>
      4. měření: <input type="number" id="val4" name="val4"><br>
      5. měření: <input type="number" id="val5" name="val5"><br><br>
      <input type="button" onclick="calculateMean()" value="Spočítej">
    </form>
<p id="result"></p>
</div>

<script>
function calculateMean() {
  let conc = parseFloat(document.getElementById('conc').value);
  let val1 = parseFloat(document.getElementById('val1').value);
  let val2 = parseFloat(document.getElementById('val2').value);
  let val3 = parseFloat(document.getElementById('val3').value);
  let val4 = parseFloat(document.getElementById('val4').value);
  let val5 = parseFloat(document.getElementById('val5').value);

  let mean = (val1 + val2 + val3 + val4 + val5) / 5;
  mean = 100*mean/(0.5*conc);
  mean = mean.toFixed(2);

  document.getElementById('result').innerHTML = 'Specifická otáčivost = ' + mean + '°';
}
</script>


{% endblock %}