{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Practical part of exam from Pharmaceutical Botany II {% endblock %}</h1>

    <div style="padding-left: 60px; padding-right: 60px;">
        <p><strong>! DISCLAIMER !</strong> <span style="float: right;"><img src="static/images/czech-16.png" height="13" width="19"> <a href="{{ url_for('poznavacka_botanika') }}">Czech</a></span></p>
        <p style="text-align: justify; text-justify: inter-word;">This is unofficial material that serves only as a learning
            aid and in no way replaces the recommended study resources. None of the members of the KFGFB department guarantee
            the correctness and accuracy of this material. For the most current announcements and lists, please follow the
            section <a href="https://intranet.faf.cuni.cz/Study-materials/KFGFB/" target="_blank"> of study materials on the Faculty website.</a>
            This practice test is based on <a href="static/list_taxons.pdf" target="_blank">this list</a>, which should be
            current even for the year 2023. Most of the visual materials are taken from the website
            <a href="https://apps.faf.cuni.cz/daidalea/PlantSpeciesListLatin.asp">Daidalea</a>, which is highly
            recommended for self-study.
        </p>
        <p id='cisloOtazky' style="font-weight: bold;">Plant No. 1</p>
        <div class="img-container">
        <img src="" id="obr1">
        <img src="" id="obr2">
        <img src="" id="obr3">
        </div>

        <br>
        <input type="button" style="cursor: pointer;" value="Magnify" onclick="zvetsitIMG()">
        <input type="button" style="cursor: pointer;" value="Reduce" onclick="zmensitIMG()">
        <br>
        <p id="vypisBodu" style="font-weight: bold">Points: 0/45</p>
        Latin name: <input type="text" id="odpoved_1" name="odpoved_1" style="font-style: italic;"> <span id="result1"></span> <br><br>
        Family name: <input type="text" id="odpoved_3" name="odpoved_3"> <span id="result3"></span> <br>

        <p id="trestnyText"></p>
        <input type="button" style="cursor: pointer;" onclick="zkontrolujOdpoved()" value="Check" id="kontrolBtn">
        <input type="button" style="cursor: pointer; display: none;" onclick="window.location.reload()" value="New test" id="novyTestBtn">

    </div>
<script type="text/javascript">
    var imgVelikost = 350;
    var poradi = 0;
    var body = 0;
    var vybraneRostliny = {{ vyber | tojson | safe }};
    var cestyObr = {{ paths | tojson | safe }};

    function zvetsitIMG() {
        imgVelikost = String(imgVelikost*1.2);
        document.getElementById('obr1').style.height = imgVelikost + 'px';
        document.getElementById('obr2').style.height = imgVelikost + 'px';
        document.getElementById('obr3').style.height = imgVelikost + 'px';
    }
    function zmensitIMG() {
        imgVelikost = String(imgVelikost/1.2);
        document.getElementById('obr1').style.height = imgVelikost + 'px';
        document.getElementById('obr2').style.height = imgVelikost + 'px';
        document.getElementById('obr3').style.height = imgVelikost + 'px';
    }
    function zkontrolujOdpoved() {
        if (document.getElementById('kontrolBtn').value == "Next") {
            poradi++;
            document.getElementById('cisloOtazky').innerHTML = "Plant No. " + (poradi+1);
            document.getElementById('obr1').src = cestyObr[poradi][0];
            document.getElementById('obr2').src = cestyObr[poradi][1];
            document.getElementById('obr3').src = cestyObr[poradi][2];
            document.getElementById('result1').innerHTML = "";
            document.getElementById('result3').innerHTML = "";
            document.getElementById('odpoved_1').value = "";
            document.getElementById('odpoved_3').value = "";
            document.getElementById('trestnyText').innerHTML = "";
            document.getElementById('kontrolBtn').value = "Check";
        } else {
            let odpoved_1 = document.getElementById('odpoved_1').value.trim().toLowerCase();
            var druhRodLatOdpv = odpoved_1.split(" ");
            var rodLatOdpv = druhRodLatOdpv[0];
            var druhLatOdpv = druhRodLatOdpv[1];
            if (odpoved_1.includes("sylvestris var. mauritiana") == true) {
                druhLatOdpv = "sylvestris var. mauritiana";
            }
            if (odpoved_1.includes("sect. rubus") == true) {
                druhLatOdpv = "sect. rubus";
            }
            if (odpoved_1.includes("piperita") == true) {
                druhLatOdpv = "piperita";
            }
            let latinsky_druh_spravne = vybraneRostliny[poradi][1].trim();
            var druhRodLat = latinsky_druh_spravne.split(" ");
            var rodLat = druhRodLat[0].toLowerCase();
            var druhLat = druhRodLat[1];
            if (latinsky_druh_spravne == "Malva sylvestris var. mauritiana") {
                druhLat = "sylvestris var. mauritiana";
            }
            if (latinsky_druh_spravne == "Rubus sect. Rubus") {
                druhLat = "sect. Rubus";
            }
            if (latinsky_druh_spravne == "Mentha × piperita") {
                druhLat = "piperita";
            }
            if (rodLatOdpv == rodLat && druhLatOdpv == druhLat) {
                document.getElementById('result1').innerHTML = "Correct!!";
                body = body + 2;
            } else if (rodLatOdpv == rodLat && druhLatOdpv != druhLat) {
                document.getElementById('result1').innerHTML = "Correct genus name, but wrong species name. It should be: <em>" + latinsky_druh_spravne;
                body = body + 1;
            } else if (rodLatOdpv != rodLat && druhLatOdpv == druhLat) {
                document.getElementById('result1').innerHTML = "Correct species name, but wrong genus name. It should be: <em>" + latinsky_druh_spravne;
                body = body + 1;
            } else {
                document.getElementById('result1').innerHTML = "All wrong, it should be: <em>" + latinsky_druh_spravne;
            }

            let odpoved_3 = document.getElementById('odpoved_3').value;
            let latinsky_celed_spravne = vybraneRostliny[poradi][3].trim();
            if (odpoved_3.trim().toLowerCase() == latinsky_celed_spravne.toLowerCase()) {
                document.getElementById('result3').innerHTML = "Correct!!";
                body = body + 1;
            } else {
                document.getElementById('result3').innerHTML = "Wrong, it should be: " + latinsky_celed_spravne;
            }

            document.getElementById('vypisBodu').innerHTML = "Points: " + body + "/45";
            if (poradi == 14) {
                document.getElementById('kontrolBtn').value = "End of test";
                document.getElementById('kontrolBtn').disabled = true;
                document.getElementById('novyTestBtn').style.display = "inline";
                if (body >= 27) {
                    document.getElementById('vypisBodu').innerHTML = "Points: " + body + "/45 - Sufficient points to pass the test, congratulations!";
                } else {
                    document.getElementById('vypisBodu').innerHTML = "Points: " + body + "/45 - Insufficient points to pass the test, more studying is needed!";
                }

            } else {
                document.getElementById('kontrolBtn').value = "Next";
            }
        }
    }
    function bezDiakr(retezec) {
        return retezec.normalize("NFD").replace(/\p{Diacritic}/gu, "");
    }
    window.addEventListener('beforeunload', function (e) {
        // zpráva, která se zobrazí v dialogovém okně prohlížeče
        var message = 'Pokud opustíte tuto stránku, ztratíte svůj progres.';
        e.preventDefault(); // zruší událost
        e.returnValue = message; // Chrome, IE
        return message; // Gecko, WebKit, Safari
    });

    document.getElementById('obr1').src = cestyObr[poradi][0];
    document.getElementById('obr2').src = cestyObr[poradi][1];
    document.getElementById('obr3').src = cestyObr[poradi][2];
</script>

{% endblock %}